<!-- <tr>

    <%- include('../partials/book-listing') -%>
    <td> <%= comic.title %> </td>

    <td>
        <a href="/admin-console/update-book/<%= comic._id %>"><button class="edit">EDIT</button></a>
    </td>
    
    <td>
        <form action="/admin-console/update-book/<%= comic._id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded" class="inlineDelete"> <button class="delete">DELETE</button> </form>
    </td>

</tr> -->