<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 




<div class="outside">
    <br><br><br><br><br>
    <div class="main-body">
    <h1>REGISTERED USER ERROR</h1>
    
    <p style="text-align: center">A user with the given username is already registered. </p>

    <p style="text-align: center"> In order to login Admin Console please click <a href="/login"> LOGIN </a> </p>

    </div> <br><br><br><br><br>
</div>

<%- include('../partials/footer') -%> 